<ion-header>
    <ion-navbar>
      <ion-buttons end>
        <button ion-button icon-only clear color="light" [navPush]="helpPage">
          <ion-icon name="help-circle"></ion-icon>
        </button>
        <button ion-button icon-only clear color="light">
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        CryptoTax
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <h2>収支一覧</h2>
    <ion-item>
      <ion-label>集計年</ion-label>
      <ion-select [(ngModel)]="year">
        <ion-option value="2017">2017年</ion-option>
        <!-- <ion-option value="2018">2018年</ion-option> -->
      </ion-select>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-xl-4 col-lg-6 *ngFor="let k of object.keys(PROVIDERS)">
          <div *ngIf="PROVIDERS[k].key">
            <profit-list [agg$]="PROVIDERS[k].agg$" [providerName]="k" (refreshAgg)="refreshAgg(PROVIDERS[k])"></profit-list>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab bottom right>
      <button ion-fab color="secondary">
        <ion-icon name="add"></ion-icon>
      </button>
      <ion-fab-list side="top">
        <button ion-fab (click)="open('zaif')">Zaif</button>
        <button ion-fab (click)="open('bitflyer')">Bitflyer</button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
  