<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-buttons end>
      <button ion-button icon-only clear color="dark" [navPush]="helpPage">
        <ion-icon name="help-circle"></ion-icon>
      </button>
      <button ion-button icon-only clear color="dark">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      CryptoTax
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>資産一覧</h2>
  <ion-grid>
    <ion-row>
      <ion-col col-xl-4 col-lg-6 *ngFor="let k of object.keys(PROVIDERS)">
        <div *ngIf="PROVIDERS[k].key">
          <funds-chart [funds$]="PROVIDERS[k].funds$" (refreshFunds)="PROVIDERS[k].updateFundsAsJpy()" [providerName]="k"></funds-chart>
        </div> 
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="open('zaif')">Zaif</button>
      <button ion-fab (click)="open('bitflyer')">Bitflyer</button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
